@import 'tailwindcss';

@theme {
  --spacing-tiny: calc(var(--spacing-normal) / 2.25);
  --spacing-small: calc(var(--spacing-normal) / 1.5);
  --spacing-normal: 1rem;
  --spacing-medium: calc(var(--spacing-normal) * 1.5);
  --spacing-large: calc(var(--spacing-normal) * 2.25);
  --spacing-huge: calc(var(--spacing-normal) * 3.38);

  --color-background: oklch(99% 0 0);
  --color-foreground: oklch(18% 0 0);
  --color-highlight: oklch(65% 0.33 345);
  --color-highlight-soft: oklch(
    l(var(--color-highlight)) - 20% c(var(--color-highlight)) * 0.85 h(var(--color-highlight))
  );
  --color-success: oklch(70% 0.25 145);
  --color-error: oklch(60% 0.33 29);
  --color-error-soft: oklch(
    l(var(--color-error)) + 20% c(var(--color-error)) * 0.4 h(var(--color-error))
  );
}

@layer base {
  html {
    color-scheme: light dark;
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  body {
    font-family:
      -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
      'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}
